.Welcome {
  background-color: #282c34;
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.Welcome__Logo {
  width: 40vh;
  height: auto;
  position: absolute;
  top: 10vh;
}

.Welcome__Logo img {
  width: 100%;
}

.Welcome__Logo img:hover {
  cursor: pointer;
}

.Welcome-header {
  display: flex;
  padding-top: 20vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.WelcomeForm {
  margin-top: 6px;
}

.Welcome-link {
  color: #61dafb;
}

.PapaInput {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc(120px + 20vw);
  margin-bottom: 10px;
}

.Welcome button {
  width: 80px;
  height: 40px;
  font-weight: 600;
}

.Welcome input {
  width: 100%;
  border-radius: 8px;
  border-width: 3px;
  outline: none;
  border-color: transparent;
  line-height: 36px;
  font-size: 1.25rem;
  margin-bottom: 4px;
  padding: 4px 6px;
}

.Welcome input.errorInput {
  color: red;
  border-color: red;
}

.Welcome .ErrorMessage {
  font-size: 0.8rem;
  color: red;
  margin-left: 3px;
}

.Welcome .ErrorMessage {
  visibility: visible;
  font-size: 0.8rem;
  color: red;
  margin-left: 3px;
}

.Welcome .ErrorMessage.hidden {
  visibility: hidden;
}