.Welcome {
  background-color: #282c34;
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.Welcome__Logo {
  width: 40vh;
  position: absolute;
  top: 10vh;
}

.Welcome__Logo img {
  width: 100%;
}

.Welcome__Logo img:hover {
  cursor: pointer;
}

.Welcome-header {
  display: flex;
  padding-top: 20vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Welcome-link {
  color: #61dafb;
}

.Welcome input {
  min-height: calc(10px + 2vmin);
  min-width: calc(100px + 20vmin);
  margin-bottom: 14px;
}